<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>quartz-schedule-manageme</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <div style="margin: 5px 0">
        <el-button @click="getList">刷新列表</el-button>
        <el-button type="primary" @click="editHandle">新增</el-button>
    </div>

    <el-table :data="list" v-loading="listLoading" border highlight-current-row
              height="calc(100vh - 282px)">
        <el-table-column prop="key" label="编号"></el-table-column>
        <el-table-column prop="name" label="任务名称"></el-table-column>
        <el-table-column prop="state" label="任务状态"></el-table-column>
        <el-table-column prop="cron" label="cron表达式"></el-table-column>
        <el-table-column prop="className" label="任务执行类名称"></el-table-column>
        <el-table-column label="操作">
            <template slot-scope="scope">
                <el-button type="primary" @click="editHandle(scope.row)">编辑</el-button>
                <el-button type="primary" @click="activateHandle(scope.row)">激活</el-button>
                <el-button type="success" @click="disableHandle(scope.row)">禁用</el-button>
                <el-button type="success" @click="deleteHandle(scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>

    <el-dialog :visible.sync="visible" :title="submitData.id ? '编辑' : '新增'">
        <el-form ref="form" :model="submitData" label-width="120px">
            <el-form-item label="编号">
                <el-input v-model="submitData.key"></el-input>
            </el-form-item>
            <el-form-item label="任务名称">
                <el-input v-model="submitData.name"></el-input>
            </el-form-item>
            <el-form-item label="任务状态">
                <el-switch v-model="submitData.state"
                           active-text="激活"
                           inactive-text="禁用"
                           active-value="ACTIVATE"
                           inactive-value="DISABLED"
                ></el-switch>
            </el-form-item>
            <el-form-item label="cron表达式">
                <el-input v-model="submitData.cron"></el-input>
            </el-form-item>
            <el-form-item label="任务执行类名称">
                <el-input v-model="submitData.className"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="saveHandle">保存</el-button>
                <el-button @click="visible = false">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            listLoading: true,
            list: [
                // {
                //     id: undefined, // 主键
                //     key: undefined, // 编号
                //     name: undefined, // 任务名称
                //     state: undefined, // 任务状态
                //     cron: undefined, // cron表达式
                //     className: undefined // 任务执行类名称
                // }
            ],
            visible: false,
            submitData: {
                id: undefined, // 主键
                key: undefined, // 编号
                name: undefined, // 任务名称
                state: 'ACTIVATE', // 任务状态
                cron: undefined, // cron表达式
                className: undefined // 任务执行类名称
            }
        },
        methods: {
            // 查询电呼数据列表
            getList: function () {
                var vm = this;
                vm.listLoading = true;
                axios.get('/jobs').then(function (response) {
                    vm.list = response.data;
                }).finally(function () {
                    vm.listLoading = false
                })
            },
            editHandle: function (row) {
                var vm = this;
                vm.submitData = Object.assign({}, row);
                vm.visible = true;
            },
            saveHandle: function () {
                var vm = this;
                axios.post('/jobs', vm.submitData).then(function (response) {
                    vm.getList();
                }).catch(function (error) {
                    vm.$message.error(error.response.data.message || '操作失败');
                })
            },
            activateHandle: function (row) {
                var vm = this;
                axios.put('/jobs/' + row.id + "/activate").then(function (response) {
                    vm.getList();
                }).catch(function (error) {
                    vm.$message.error(error.response.data.message || '操作失败');
                })
            },
            disableHandle: function (row) {
                var vm = this;
                axios.put('/jobs/' + row.id + "/disable").then(function (response) {
                    vm.getList();
                }).catch(function (error) {
                    vm.$message.error(error.response.data.message || '操作失败');
                })
            },
            deleteHandle: function (row) {
                var vm = this;
                axios.delete('/jobs/' + row.id).then(function (response) {
                    vm.getList();
                }).catch(function (error) {
                    vm.$message.error(error.response.data.message || '操作失败');
                })
            }
        },
        created: function () {
            this.getList();
        }
    })
</script>
</html>